.task_input{
    background-color: transparent;
    padding: 10px;
    border: 1px solid #20212c;
    border-radius: 15px;
    margin: 10px auto;
    color: #FFFFFF;

    &::placeholder {
        color: #FFFFFF
    }
}

.task_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}