.datePicker {
    position: relative;
    width: 100%;
    background: #20212c;
    margin: 30px auto;
    user-select: none;
    border-radius: 20px;

    &_selected {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #FFFFFF;
        font-size: 28px;

        padding: 5px;
    }

    &_dates {
        display: none;

        &__active{
            display: block;
        }

        &__month {
            display: flex;
            justify-content: space-around;
            align-items: center;

            & div{
                color: #FFFFFF;
            }
        }

        &__days {
           height: 200px;
           background: #20212c;

           display: grid;
           grid-template-columns: repeat(7, 1fr);
           padding: 5px;
           border-radius: 20px;

           & .day {
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 40px;

            & p {
                margin-block-end: 0px;
                margin-block-start: 0px;
                padding: 7px;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
            }
           }
        }
    }

    &_arrows{
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-size: 20px;
        cursor: pointer;

        &:hover svg path{
            transition: .3s;
            stroke: #fc76a1;
        }
    }
}
