@mixin InterBold {
    font-family: 'Inter';
    font-weight: 700;
}

@mixin InterMedium {
    font-family: 'Inter';
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'), url('../public/fonts/Inter-Bold.woff2') format('woff2'), url('../public/fonts/Inter-Bold.woff') format('woff'), url('../public/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'), url('../public/fonts/Inter-Medium.woff2') format('woff2'), url('../public/fonts/Inter-Medium.woff') format('woff'), url('../public/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

h2, h3, h4, p, span, a {
    @include InterMedium;
}


.App{
    background-color: #17181f;
    width: 100vw;
    height: 100vh;
    @include InterMedium;
    color: #FFFFFF
}


.nav{
    background-color: #17181f;

    &_active{
        display: flex;
        background-color: #20212c;
        padding: 5px 10px;

        & img {
            margin-right: 10px;
        }
    }
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center
}

.addTask{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #1d1e26;
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
    margin: 0 auto;

    & img {
        padding: 2px;
        background-color: #fc76a1;
        border-radius: 10px;
        margin-right: 10px;
    }
}