@mixin InterBold {
    font-family: 'Inter';
    font-weight: 700;
}

@mixin InterMedium {
    font-family: 'Inter';
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'), url('../public/fonts/Inter-Bold.woff2') format('woff2'), url('../public/fonts/Inter-Bold.woff') format('woff'), url('../public/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'), url('../public/fonts/Inter-Medium.woff2') format('woff2'), url('../public/fonts/Inter-Medium.woff') format('woff'), url('../public/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

h2, h3, h4, p, span, a {
    @include InterMedium;
}


.App{
    background-color: #17181f;
    width: 100vw;
    height: 100vh;
    @include InterMedium;
    color: #FFFFFF
}


.nav{
    background-color: #17181f;

    &_active{
        display: flex;
        background-color: #20212c;
        padding: 5px 10px;

        & img {
            margin-right: 10px;
        }
    }
}

.main{
    padding: 0px 30%;
}

.input_modalWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.2s ease 0s;
    z-index: 901;
}

.input_modalWrapper__active{
    opacity: 1;
    visibility: visible;
}

.bg{
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.input_container{
    display: flex;
    flex-direction: column;
    align-items: center
}

.addTask{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px 15px;
    border: 1px solid #2e2f3a;
    border-radius: 20px;
    background-color: transparent;
    color: #FFFFFF;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
        border: 1px solid #FFFFFF;
        transition: .3s;
    
        & svg{
            background-color: #FFFFFF;
            transition: .3s;
            transform: rotate(180deg);
        }
    }

    & svg {
        padding: 2px;
        background-color: #fc76a1;
        border-radius: 10px;
        margin-right: 10px;
    }
}

.todoList {
    margin-top: 40px;
}