.task{
    background-color: #20212c;
    border-radius: 15px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &_check{
        background-color: transparent;
        border: 3px solid #fc76a1;
        border-radius: 13px;
        margin-right: 10px;
        padding: 0px;
        cursor: pointer;

        &__svg {
            opacity: 0;
        }

        &:hover .task_check__svg {
            opacity: 1;
            transform: rotate(360deg);
            transition: .2s;
        }
    }
}